body {
  overflow: hidden;
  -moz-user-select: none;
  user-select: none;
}

.header {
  width: 100vw;
  color: deepskyblue;
  background-color: darkslategray;
  box-sizing: border-box;
}

table p {
  margin: 0px;
}

.cursorPointer{
  cursor: pointer;
}

@keyframes blink{
  from { background-color: darkslategray;}
  50% {background-color: CadetBlue;}
  to {background-color: darkslategray;}
}

.button{
  border-radius: 3px;
  padding: 0px 3px;
}

.button:hover{
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.gameField {
  height: calc(100vh - 25px - 44px);
  background-image: url('./pictures/sea_2.jpg');
  background-size: cover;
}

.img{
  position: absolute;
  display: none;
}

.gameOver{
  visibility: hidden;
  position: fixed;
  top: 25px;
  left: 0px;
  height: calc(100vh - 25px - 44px);
  width: 100vw;
  color: darkslategray;
  background-color: rgba(190, 190, 190, .5);
  opacity: 0;
}

.gameOverAnimate{
  visibility: visible;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 2s;
}

#gameOver div{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: calc(100vh - 25px - 44px);
  margin: 0px;
}

#gameOver div h1{
  width: 100vw;
  margin: 0px;
  font-size: 80px;
  text-shadow: 3px 3px 3px black;
}

#gameOver div p{
  width: 100vw;
  margin: 0px;
  text-shadow: 1px 1px 1px black;
}